<launch>

  <include file="$(find data_collect)/launch/rotate_angle.launch" />
  <!-- <include file="$(find data_collect)/launch/assisted_drive.launch" /> -->
  <include file="$(find jetbot_pro)/launch/lidar.launch" />
  <include file="$(find data_collect)/launch/location_update.launch" />
  <include file="$(find data_collect)/launch/rotate_only.launch" />
  <!-- <include file="$(find data_collect)/launch/inference_drive.launch" /> -->
  <include file="$(find data_collect)/launch/maze_navigate.launch" />
    
    
    <node pkg="data_collect" type="inference.py" name="infer_model" output="screen">
    
    </node>

</launch>