<?xml version="1.0"?>
<launch> 
  
  <include file="$(find maze_discovery)/launch/rotate_angle.launch" />
  <include file="$(find maze_discovery)/launch/assisted_drive.launch" />
  <include file="$(find maze_discovery)/launch/laser.launch" />
  <include file="$(find jetbot_pro)/launch/lidar.launch" />
  <include file="$(find maze_discovery)/launch/location_update.launch" />
  <include file="$(find maze_discovery)/launch/rotate_only.launch" />


<node pkg="maze_discovery" type="data_collect.py" name="train_node" output="screen"/>
 

</launch>
